numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
jupyter
ipykernel
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.10.0+cpu
openpyxl #open excel files
yfinance
statsmodels
darts
statsforecast
xgboost
pytorch-lightning
huggingface_hub
transformers
accelerate
safetensors
sentencepiece
