numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
jupyter
ipykernel
torch
openpyxl #open excel files
yfinance
statsmodels
darts
statsforecast
xgboost
pytorch-lightning
huggingface_hub
transformers
accelerate
safetensors
sentencepiece
